
<div class="con-main" ng-controller="bannerCtrl">
    <div class="row m-b-md">
        <div class="col-md-6 col-lg-6 text-center">
            <img src="../../components/Image/head.jpg" alt="" class="banner-img m-b-md">
            <div class="form-group">
                <button class="btn btn-info" type="button" ng-click="editBanner()">重新上传</button>
                <button class="btn btn-info" type="button" ng-click="editBanner(1)">编辑活动</button>
                <button class="btn btn-success" type="button">已发布</button>
                <button class="btn btn-danger" type="button">删除</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
            <img src="../../components/Image/head.jpg" alt="" class="banner-img m-b-md">
            <div class="form-group">
                <button class="btn btn-info" type="button">重新上传</button>
                <button class="btn btn-info" type="button">编辑活动</button>
                <button class="btn btn-success" type="button">已发布</button>
                <button class="btn btn-danger" type="button">删除</button>
            </div>
        </div>
    </div>
    <div class="row m-b-md">
        <div class="col-md-6 col-lg-6 text-center">
            <img src="../../components/Image/head.jpg" alt="" class="banner-img m-b-md">
            <div class="form-group">
                <button class="btn btn-info" type="button">重新上传</button>
                <button class="btn btn-info" type="button">编辑活动</button>
                <button class="btn btn-success" type="button">已发布</button>
                <button class="btn btn-danger" type="button">删除</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
            <a href="" class="block banner-add">
                <span class="block text-center">+</span>
                <span class="block text-center">添加活动</span>
                <small class="block text-center">上传图片要求：宽180 高72 图片小于500k</small>
            </a>
        </div>
    </div>

    <div style="height: 0; overflow: hidden">
        <div id="editBannerLayer">
            <div class="edit">
                <div ng-show="!isNextStep" id="bannerStep1">
                    <div class="banner-layer-step">
                        <div class="text-center">
                            <div>
                                <span class="stepO-blue inline text-center">1</span>
                                <span class="step-line inline valign"></span>
                                <span class="stepO-grey inline text-center">2</span>
                            </div>
                            <div>
                                <span class="step-text-blue">步骤1：上传宣传图</span>
                                <span class="step-text-grey step-text-mleft">步骤2：选择活动商品</span>
                            </div>
                        </div>
                    </div>
                    <div class="banner-upload m-t-md">
                        <div class="banner-top inline">
                            <a href="" class="block banner-add">
                                <span class="block text-center">+</span>
                                <span class="block text-center">添加活动</span>
                                <small class="block text-center">上传图片要求：宽180 高72 图片小于500k</small>
                            </a>
                        </div>
                        <div class="banner-bottom inline">
                            <a href="" class="block banner-add">
                                <span class="block text-center">+</span>
                                <span class="block text-center">添加活动</span>
                                <small class="block text-center">上传图片要求：宽180 高72 图片小于500k</small>
                            </a>
                        </div>
                    </div>
                    <div class="form-group m-t-md text-center">
                        <button class="btn btn-info" type="button" ng-click="goStep()">下一步</button>
                        <button class="btn btn-info" type="button" ng-click="cancel()">取消</button>
                    </div>
                </div>
                <div id="bannerStep2" ng-show="isNextStep">
                    <div class="banner-layer-step">
                        <div class="text-center">
                            <div>
                                <span class="stepO-blue inline text-center">1</span>
                                <span class="step-line inline valign"></span>
                                <span class="stepO-blue inline text-center">2</span>
                            </div>
                            <div>
                                <span class="step-text-blue">步骤1：上传宣传图</span>
                                <span class="step-text-blue step-text-mleft">步骤2：选择活动商品</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-md">
                        <div class="form-group row m-b-sm">
                            <label for="chooseWares" class="col-md-4 col-lg-4 text-right">选择活动商品</label>
                            <select name="chooseWares" id="chooseWares" class="layer-select col-md-4 col-lg-4">
                                <option value="0">商品1</option>
                                <option value="1">请选择1</option>
                                <option value="2">请选择2</option>
                            </select>
                            <span class="col-md-4 col-lg-4">（注意：是两级的。使用Cascader 级联选择器 品牌+商品 带文字搜索）</span>
                        </div>
                    </div>
                    <div class="m-t-md">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 text-center">
                                <img src="../../components/Image/head.jpg" alt="" class="banner-step2-img">
                                <span class="block">高级壁纸</span>
                                <input type="text">
                            </div>
                            <div class="col-md-3 col-lg-3 text-center">
                                <img src="../../components/Image/head.jpg" alt="" class="banner-step2-img">
                                <span class="block">高级壁纸</span>
                                <input type="text">
                            </div>
                            <div class="col-md-3 col-lg-3 text-center">
                                <img src="../../components/Image/head.jpg" alt="" class="banner-step2-img">
                                <span class="block">高级壁纸</span>
                                <input type="text">
                            </div>
                            <div class="col-md-3 col-lg-3 text-center">
                                <img src="../../components/Image/head.jpg" alt="" class="banner-step2-img">
                                <span class="block">高级壁纸</span>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-md text-center">
                        <button class="btn btn-info" type="button" ng-click="goStep()">上一步</button>
                        <button class="btn btn-info" type="button">预览</button>
                        <button class="btn btn-info" type="button" ng-click="cancel()">完成</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>