
<!--<ele-bread></ele-bread>-->
<div class="con-main" ng-controller="waresPatrolCtrl">
    <form action="">
        <div class="form-group col-md-2">
            <div class="input-group date">
                <div class="input-group">
                    <input id="date" type="text" class="form-control" readonly uib-datepicker-popup="{{datePicker.format}}" ng-model="datePicker.date" is-open="datePicker.opened" ng-required="true" close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="datePicker.altInputFormats" />
                    <span class="input-group-btn">
                       <button type="button" class="btn btn-default" ng-click="datePicker.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                   </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2 p-lr-xs">
            <input type="text" class="w100 p-lr-md" placeholder="分类" ng-model="search.className" id="classify" ng-change="allSelectFun.changeMainClass(search.className)">
            <ul class="dropdown-menu w100 down-list se_class">
                <li ng-repeat="o in classData | filter: search.className"><a href="javascript:;" ng-click="allSelectFun.getMainClass(o.id, o.name)">{{ o.name }}</a></li>
            </ul>
            <!--<select name="class" id="class">
                <option value="0">分类</option>
                <option value="0">请选择1</option>
                <option value="0">请选择2</option>
                <option value="0">请选择3</option>
            </select>-->
        </div>
        <div class="form-group col-md-2 p-lr-xs">
            <input type="text" class="w100 p-lr-md" placeholder="品牌名称" ng-model="search.brandName" id="brand" ng-change="allSelectFun.changeMainBrand(search.brandName)">
            <ul class="dropdown-menu w100 down-list se_brand">
                <li ng-repeat="o in brandData | filter: search.brandName"><a href="javascript:;" ng-click="allSelectFun.getMainBrand(o.id, o.name)">{{ o.name }}</a></li>
            </ul>
        </div>
        <div class="form-group col-md-1 text-center">
            <label for="isHot" class="checkbox" ng-click="isChecked(this)">
                <!--<span class="checkbox-inner"></span>-->
                <input type="checkbox" id="isHot" style="display: none">是否爆款
            </label>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-info" type="button" ng-click="search.searchFun()">查询</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">状态</th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th class="text-center">创建日期</th>
            <th class="text-center">爆款商品</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in table.tableList">
            <td class="text-center">
                <i ng-if="item.disable == 0" class="iconfont icon-smile"></i>
                <i ng-if="item.disable != 0" class="iconfont icon-hand"></i>
            </td>
            <td ng-bind="item.code"></td>
            <td ng-bind="item.title"></td>
            <td ng-bind="item.createTime | date: 'yyyy-MM-dd'" class="text-center"></td>
            <td ng-bind="item.isHot == 1 ? '是' : '否'" class="text-center"></td>
            <td class="text-center">
                <button class="btn btn-info" type="button" ng-click="showCard(item.qrCodeSrc)"><i class="iconfont icon-wodexuncha"></i>巡查</button>
                <button  ng-if="item.disable == 0" class="btn btn-danger" type="button" ng-click="changeDisabled(item.id, item.shopId, 0)"><i class="iconfont icon-xiajia"></i>下架</button>
                <button  ng-if="item.disable != 0" class="btn btn-success" type="button" ng-click="changeDisabled(item.id, item.shopId, 1)"><i class="iconfont icon-shangjia"></i>正常</button>
            </td>
        </tr>
        <!--<tr >
            <td class="text-center"><i class="iconfont icon-hand"></i></td>
            <td>名称1</td>
            <td>地址1</td>
            <td>商品名称1</td>
            <td class="text-center">2017-07-01</td>
            <td class="text-center">是</td>
            <td class="text-center">
                <button class="btn btn-info" type="button"><i class="iconfont icon-wodexuncha"></i>巡查</button>
                <button class="btn btn-success" type="button"><i class="iconfont icon-shangjia"></i>正常</button>
            </td>
        </tr>
        <tr >
            <td class="text-center"><i class="iconfont icon-smile"></i></td>
            <td>名称1</td>
            <td>地址1</td>
            <td>商品名称1</td>
            <td class="text-center">2017-07-01</td>
            <td class="text-center">是</td>
            <td class="text-center">
                <button class="btn btn-info" type="button"><i class="iconfont icon-wodexuncha"></i>巡查</button>
                <button class="btn btn-danger" type="button"><i class="iconfont icon-xiajia"></i>下架</button>
            </td>
        </tr>-->
        </tbody>
    </table>
    <div class="footer">
        <nav aria-label="Page navigation">
            <ul class="pagination pull-right">
                <li>
                    <a href="javascript:;" aria-label="Previous" ng-click="goPrePage()">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-class="{true : 'active'}[table.pageInfo.number == $index + 1]" ng-repeat="i in table.pageInfo.totalPages track by $index"><a href="javascript:;" ng-click="goPage($index + 1)">{{ $index + 1 }}</a></li>
                <li>
                    <a href="javascript:;" aria-label="Next" ng-click="goNextPage()">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>