<!--<ele-bread></ele-bread>-->
<div class="con-main" ng-controller="ticketCenterCtrl">
    <form action="">
        <div class="form-group col-md-2">
            <div class="input-group date">
                <div class="input-group">
                    <input id="date" type="text" class="form-control" readonly uib-datepicker-popup="{{datePicker.format}}" ng-model="datePicker.date" is-open="datePicker.opened" ng-required="true" close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="datePicker.altInputFormats" />
                    <span class="input-group-btn">
                       <button type="button" class="btn btn-default" ng-click="datePicker.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                   </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2 p-0">
            <input type="text" class="w100 p-lr-md" placeholder="品牌名称" ng-model="search.brandName" id="brand" ng-focus="allSelectFun.changeMainBrand('')" ng-blur="allSelectFun.blurMainBrand()" ng-change="allSelectFun.changeMainBrand(search.brandName)">
            <ul class="dropdown-menu w100 down-list se_brand">
                <li ng-repeat="o in brandData | filter: search.brandName"><a href="javascript:;" ng-mousedown="allSelectFun.getMainBrand(o.id, o.name)">{{ o.name }}</a></li>
            </ul>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-info" type="button" ng-click="search.searchFun()">查询</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">状态</th>
            <th>品牌</th>
            <th>用券规则</th>
            <th>卡券细则</th>
            <th class="text-center">有效期</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in table.tableList">
            <td class="text-center">
                <i ng-if="item.isCoupon == 0" class="iconfont icon-smile"></i>
                <i ng-if="item.isCoupon != 0" class="iconfont icon-hand"></i>
            </td>
            <td ng-bind="item.shopName"></td>
            <td ng-bind="'买立减 ： ￥' + item.couponRegulation"></td>
            <td ng-bind="item.specification"></td>
            <td class="text-center">{{ item.startDate | date: 'yyyy-MM-dd' }} - {{ item.endDate | date: 'yyyy-MM-dd' }}</td>
            <td class="text-center">
                <button class="btn btn-info" type="button" ng-click="showCard(item.qrCode)"><i class="iconfont icon-wodexuncha"></i>审查</button>
                <button ng-if="item.isCoupon == 0" class="btn btn-danger" type="button" ng-click="changeDisabled(item.id, 0)"><i class="iconfont icon-jinyong"></i>点击禁用</button>
                <button ng-if="item.isCoupon != 0" class="btn btn-success" type="button" ng-click="changeDisabled(item.id, 1)"><i class="iconfont icon-qiyong"></i>点击启用</button>
            </td>
        </tr>
        </tbody>
    </table>
    <page-nations></page-nations>
</div>